# Twitch Authentifizierung
CLIENT_ID="DEINE_CLIENT_ID"
CLIENT_SECRET="DEIN_CLIENT_SECRET"
TWITCH_USER_TOKEN="DEIN_USER_TOKEN"


# Streamlink globale Einstellungen
STREAM_QUALITY=best
STREAMLINK_LOGLEVEL=info
STREAMLINK_RETRY=30

# Streamlink Schalter
STREAMLINK_WEBBROWSER=false

# Dateinamensmuster (Platzhalter {channel} wird im Skript ersetzt, .mkv ist fest vorgegeben)
OUTPUT_FILENAME_PATTERN={time:%Y-%m-%d_%H-%M}_{channel}_{title}.mkv

STREAM_QUALITY: "best,1080p60,1080p,720p60,720p"

IMAGE_VERSION=1.0.4
